.tag-list{
    display: inline-block;
    & a{
		color:whitesmoke;
		border-radius: 3px;
		padding: 2px 5px;
		background: #708090;
		&:hover{
			text-decoration: none;
		}
	}
    & > li{
        display: inline-block;
    }
}

.read-more{
    background: #708090;
    color:#fff;
    display: block;
    width: 100%;
    padding: .25rem 2rem;
    font-family: 'Raleway';
    margin-top: 10px;
    &:hover{
        text-decoration: none;
        background: #777a7e;
    }
}
.tease-author{
    margin-right: 10px;
}

.tease-meta{
    & .fa{
        color:  #708090;
    }
}
.tease{
    border-bottom: 2px solid #eee;
    max-width: 600px;
    padding: 1rem;
    lost-utility:clearfix;
    -ms-word-wrap: break-word;
	word-wrap: break-word;
}
.tease-content{

}

.tease-title{
    -ms-word-wrap: break-word;
	word-wrap: break-word;
}
.tease-title a{
    font-size: 2rem;
    font-weight: 300;
    color: #708090;
    font-family: 'Raleway';
    -ms-word-wrap: break-word;
	word-wrap: break-word;
    &:hover{
        text-decoration: none;
        color: #777a7e;
    }
}
